/* Estilo para los iconos del clima */
.weather-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; /* Alinea los iconos a la derecha */
}

.weather-icon img {
    width: 80px; /* Ajusta el tamaño según sea necesario */
    height: 80px;
}

/* Estilo para las tarjetas */
.weather-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 15px; /* Más redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Estilo para el contenedor de búsqueda */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Estilo para el contenedor de navegación */
.nav-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

/* Estilo para los botones */
button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #333;
}

button.active {
    background-color: #555;
}
