.search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .search-container input {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .search-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  